<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--bower:js-->
    <!--endbower-->

    <!--bower:css-->
    <!--endbower-->

    <!--inject:css-->
    <!--endinject-->

    <!--inject:js-->
    <!--endinject-->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
